@use "../../styles/variables" as *;

.textInput {
  display: flex;
  flex-direction: column;
  width: 100%;

  .textInput_input {
    padding: 8px 12px;
    border: 1px solid var(--boxd-hover);
    border-radius: 0.4rem;
  }

  .error_input {
    border: 1px solid var(--warning-red);
    &::placeholder {
      color: var(--warning-red);
    }
  }

  .textInput_label {
    padding: 8px 0;
  }

  .textInput_require {
    color: var(--warning-red);
  }
}

.error_message {
  color: var(--warning-red);
  margin-top: 0.4rem;
  margin-left: 0.4rem;
}
