@use "../../styles/variables" as *;

.tableWrapper {
  border: 1px solid $sub-200;
  border-radius: 0.4rem;
  overflow-y: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.userInfo {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.itemName {
  width: 15rem;
}

.assetID {
  width: 12rem;
}

.status {
  width: 8rem;
}

.endTime {
  width: 8rem;
}

.message {
  width: 24rem;
  color: var(--text-fade-mid2);
}

.action {
  width: 6rem;
}

.table {
  th,
  td {
    padding: 0.75rem 1rem;
    vertical-align: middle;
  }

  thead th {
    position: sticky;
    top: 0;
    background: $sub-0;
    z-index: 2;
  }
}

.userRow {
  background-color: $sub-100;

  &:hover {
    background-color: $sub-200;
  }
}

.action_content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.allApprove {
  padding: 0.2rem 0.4rem;
  border-radius: 0.2rem;
  background-color: $sub-700;
  color: $sub-0;
}

@media (prefers-color-scheme: dark) {
  .table {
    thead th {
      background: $sub-800;
    }
    thead th:hover .userInfo {
      color: $sub-1000;
    }
  }
  .userRow {
    background-color: $sub-700;
  }
  .userRow:hover {
    background-color: $sub-300;
  }
  .userRow:hover .userInfo {
    color: $sub-1000;
  }
  .transactionRow {
    background-color: $sub-600;
  }
  .transactionRow:hover {
    background-color: $sub-200;
    color: $sub-1000;
  }
  .transactionRow:hover .message {
    color: $sub-600;
  }
}
