@use "../../styles/_breakpoints" as *;

.container {
  padding: 20px 0;
  @include respond-to(md) {
    padding: 70px 0;
  }
  h3 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 40px;

    @include respond-to-max(md) {
      font-size: 1.6rem;
      margin-bottom: 30px;
    }

    @include respond-to-max(xs) {
      font-size: 1.4rem;
      margin-bottom: 20px;
    }
  }

  .box {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    @include respond-to(md) {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .detail {
      display: flex;
      flex-direction: column;
      gap: 20px;

      @include respond-to-max(xs) {
        gap: 15px;
      }

      .blog_image {
        width: 320px;
        height: 300px;
        object-fit: cover;
        border-radius: 7.35px;

        @include respond-to-max(md) {
          width: 270px;
          height: 250px;
        }

        @include respond-to-max(xs) {
          height: 200px;
        }
      }

      .text {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px;

        @include respond-to-max(xs) {
          gap: 15px;
        }

        h4 {
          font-size: 1.6rem;
          font-weight: 400;

          @include respond-to-max(md) {
            font-size: 1.4rem;
          }

          @include respond-to-max(xs) {
            font-size: 1.2rem;
          }
        }

        .link_container {
          display: flex;
          align-items: center;
          gap: 20px;
          font-size: 1.1rem;

          @include respond-to-max(xs) {
            gap: 10px;
            font-size: 1rem;
          }

          .link {
            color: gray;
            letter-spacing: 2px;
            display: inline-block;
            position: relative;
            overflow: hidden;
            height: 1.2em;
            line-height: 1.2em;

            span {
              display: block;
              transition: transform 0.3s ease;
            }

            .text_default {
              color: var(--text-fade-mid);
            }

            .text_hover {
              color: var(--text-fade-high);
              position: absolute;
              top: 0;
              left: 0;
              transform: translateY(100%);
            }
          }

          .icon {
            font-size: 1.5rem;
            cursor: pointer;

            @include respond-to-max(xs) {
              font-size: 1.2rem;
            }
          }
          &:hover {
            .link .text_default {
              transform: translateY(-100%);
            }

            .link .text_hover {
              transform: translateY(0);
            }
          }
        }
      }
    }
  }
}
