.container{
  margin: 50px 0;
  h3{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 40px;
  }
  .box{
    display: grid;
    grid-template-columns: repeat(
    auto-fit, minmax(300px, 1fr)
    );
    .detail{
      display: flex;
      flex-direction: column;
      gap: 20px;
      .blog_image{
        width: 320px;
        height: 300px;
        object-fit: cover;
        border-radius: 7.35px;
      }
      .text{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px;
        h4{
          font-size: 1.6rem;
          font-weight: 400;
        }
        .link_container{
          display: flex;
          align-items: center;
          gap: 20px;
          font-size: 1.1rem;
          .link{
            color: gray;
            letter-spacing: 2px;
            display: inline-block;
            overflow: hidden;
            position: relative;
            width: 90px;

            .marquee {
              display: flex;
              width: fit-content;

              &::before,
              &::after {
                content: 'Discover\00a0 ';
                white-space: nowrap;
              }
            }
          }

          .icon{
            font-size: 1.5rem;
            cursor: pointer;
          }
          &:hover .link .marquee {
            animation: marqueeScroll 3s linear infinite;
          }
        }
      }
    }

  }
}

@keyframes marqueeScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform:  translateX(-50%);
  }
}
