@use "variables" as *;
@use "breakpoints" as *;
:root {
  --font-Noto: "Noto Sans Thai", sans-serif;
  @include theme-vars($light);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-Noto), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

button:disabled {
  opacity: 0.8;
}
button,
option,
select,
textarea {
  border: none;
  font-family: var(--font-Noto);
  background: transparent;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: var(--font-Noto);
}
h1,
h2,
h3,
h4,
p {
  font-family: var(--font-Noto);
}
h1 {
  font-size: 1.5rem;
  font-weight: 700;
}
h2 {
  font-size: 1rem;
  font-weight: 500;
}

h3 {
  font-size: 1rem;
  font-weight: 400;
}

h4 {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--text-fade-mid);
}
p {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--theme-500);
}
input {
  font-family: var(--font-Noto);
  background-color: transparent;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 1rem 0.8rem;
    text-align: left;
    border-bottom: 1px solid $sub-200;
  }

  thead th {
    border-bottom: 1px solid $sub-200;
    font-weight: 400;
  }
  tbody tr {
    transition: all 0.5s ease;
  }

  tbody tr:hover {
    background-color: var(--table-hover);
  }
}

// background colour for dark mode
@media (prefers-color-scheme: dark) {
  :root {
    @include theme-vars($dark);
    --background: #1f1f1f;
    --foreground: #ededed;
  }
  p {
    color: $sub-400;
  }
}

div[contenteditable] {
  &[placeholder]:has(br)::before { 
    content: attr(placeholder);
    z-index: 9;
    line-height: 1.7;
    color: #555;
    word-break: break-all;
    user-select: none;
    background-color: red;
  }
  &[placeholder]:empty::before {
    content: attr(placeholder);
    z-index: 9;
    line-height: 1.7;
    color: #555;
    word-break: break-all;
    user-select: none;
    background-color: red;
  }

  &[placeholder]:empty:focus::before {
    content: "";
  }
}
