@use "./../../styles/_breakpoints" as *;
@use "./../../styles/functions" as *;
@use "./../../styles/variables" as *;
.container {
  display: flex;
  flex-direction: column;
}

.table_hearder {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header {
  display: flex;
  flex-direction: column;
  margin: rem(40px) 0 rem(40px) 0;
  gap: rem(20px);

  @include respond-to-max(xs) {
    margin: rem(20px) 0;
    gap: rem(10px);
  }
  h1 {
    font-size: rem(35.03px);
    font-weight: 500;
    @include respond-to-max(md) {
      font-size: rem(27px);
    }
    @include respond-to-max(xs) {
      font-size: rem(20.11px);
    }
  }
  p {
    font-size: rem(14.48px);
    
    @include respond-to-max(md) {
      font-size: rem(10px);
    }

    @include respond-to-max(xs) {
      font-size: rem(8.32px);
    }
  }
}

.filter {
  display: flex;
  flex-direction: row;
  gap: rem(10px);
  align-items: center;
  justify-content: end;
  flex-grow: 1;
  margin-right: rem(27px);  
  @include respond-to-max(md) {
    grid-template-columns: 70% 30%;
    display: none;
  }
}

.table_body {
  display: flex;
  flex-direction: column;
  gap: rem(2.5px);
  border-bottom: rem(1px) solid $sub-900;
  padding-bottom: rem(10px);
  
  @include respond-to-max(lg) {
    gap: rem(2px);
  }
  @include respond-to-max(md) {
    gap: rem(1.5px);
    border-bottom: 0;
  }
  @include respond-to-max(sm) {
    gap: rem(1px);
  }
  @include respond-to-max(xs) {
    gap: rem(0.5px);
  }
}

.fall_back {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: rem(18px);
  
  p {
    font-size: rem(14.48px);
    
    @include respond-to-max(md) {
      font-size: rem(10px);
    }
    @include respond-to-max(xs) {
      font-size: rem(8.32px);
    }
  }
  
  height: 70vh; // This remains as vh since it's a viewport unit
}