@use "./../../styles/_breakpoints" as *;
@use "./../../styles/functions" as *;
@use "./../../styles/variables" as *;
.blog {
  background-image: url("/footer/background.svg");
  margin-inline: rem(-70px);
  margin-top: auto;
  padding-right: rem(70px);
  padding-left: rem(70px);
  color: var(--text-normal);
  
  @media (prefers-color-scheme: dark) {
    background-image: none;
    color: var(--foreground);
    
    .left_heading {
      color: var(--foreground);
    }
    
    .right_heading,
    .right_content {
      color: var(--foreground);
    }
    
    .left_text {
      color: var(--foreground);
    }
  }
}

.content {
  display: flex;
  flex-direction: row;
  padding: rem(15px) min(4rem, 5%);

  @include respond-to-max(sm) {
    flex-direction: column;
    padding-bottom: 0px;
    border-bottom: rem(0px);
  }
  @include respond-to-max(xs) {
  }
}

.left {
  width: 80%;
  display: flex;
  flex-direction: column;
  @include respond-to-max(xl) {
    width: 70%;
  }
  @include respond-to-max(lg) {
    width: 60%;
  }
  @include respond-to-max(md) {
    width: 50%;
  }
  @include respond-to-max(sm) {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-bottom: rem(0px);
  }
  @include respond-to-max(xs) {
  }
}

.left_links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  @include respond-to-max(sm) {
    height: 100%;
    width: 100%;
    align-self: end;
  }
}

.left_heading {
  font-weight: 600;
  font-style: Semi Bold;
  font-size: rem(51.35px);
  color: var(--text-inverse);
  height: 50%;
  display: flex;
  @include respond-to-max(lg) {
  }
  @include respond-to-max(md) {
  }
  @include respond-to-max(sm) {
    width: 100%;
  }
  @include respond-to-max(xs) {
  }
}

.left_heading div {
  display: flex;
  justify-content: end;
}

.left_heading span {
  color: var(--text-fade-low);
}

.left_text {
  font-weight: 500;
  font-style: Medium;
  font-size: rem(20px);
  @include respond-to-max(lg) {
    font-size: rem(18.86px);
  }
  @include respond-to-max(md) {
    font-size: rem(18px);
  }
  @include respond-to-max(sm) {
    font-size: rem(17.14px);
    margin-bottom: rem(4.5px);
  }
  @include respond-to-max(xs) {
    font-size: rem(13.62px);
  }
}

.left_logoes {
  display: flex;
  gap: rem(5px);
  .logo_mark {
    color: var(--logo-mark);
  }
  .logo_dot {
    color: var(--logo-dot);
  }
  @include respond-to-max(lg) {
    gap: rem(4.75px);
  }
  @include respond-to-max(md) {
    gap: rem(4.5px);
  }
  @include respond-to-max(sm) {
    gap: rem(4px);
  }
  @include respond-to-max(xs) {
    gap: rem(3.41px);
  }
}

.logo {
  cursor: pointer;
  width: rem(30px);
  height: auto;
  display: flex;
  @include respond-to-max(lg) {
    width: rem(28px);
    height: auto;
  }
  @include respond-to-max(md) {
    width: rem(26px);
  }
  @include respond-to-max(sm) {
    width: rem(23px);
    height: rem(23px);
  }
  @include respond-to-max(xs) {
    width: rem(20px);
    height: rem(20px);
  }
}

.right {
  width: 100%;
  display: flex;
  justify-content: end;
  @include respond-to-max(sm) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: rem(15px);
  }
  @include respond-to-max(xs) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.right_blog {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  padding-top: rem(30px);
  @include respond-to-max(sm) {
    margin-left: 0;
  }
  @include respond-to-max(xs) {
  }
}

.right_heading {
  font-weight: 600;
  font-style: Medium;
  margin-bottom: rem(35.84px);

  @include respond-to-max(lg) {
    margin-bottom: rem(35.84px);
  }
  @include respond-to-max(md) {
    margin-bottom: rem(27px);
  }
  @include respond-to-max(sm) {
    margin-bottom: rem(20px);
  }
  @include respond-to-max(xs) {
    margin-bottom: rem(15.65px);
  }
}

.right_content {
  display: flex;
  flex-direction: column;
  gap: rem(19px);
  width: 100%;
  font-weight: 400;
  cursor: pointer;
  @include respond-to-max(lg) {
    gap: rem(18.25px);
  }
  @include respond-to-max(md) {
    gap: rem(17.5px);
  }
  @include respond-to-max(sm) {
    gap: rem(16.5px);
  }
  @include respond-to-max(xs) {
    gap: rem(15.35px);
  }
  // :hover {
  //   transform: scale(1.01);
  //   transition: transfrom 0.5 ease-in-out;
  // }
}

.endline {
  padding: rem(15px) min(4rem, 5%);
  margin-top: rem(50px);
  margin-bottom: rem(40px);
  @include respond-to-max(md) {
    margin-bottom: rem(30px);
  }
  @include respond-to-max(sm) {
    margin-bottom: rem(15px);
  }
  hr {
    border-top: rem(2.5px) solid var(--borderline);
    // border-top: rem(2.5px) solid black;
    border-radius: rem(2.5px);

    @include respond-to-max(lg) {
      border-top: rem(2px) solid (--borderline);
      border-radius: rem(2px);
    }
    @include respond-to-max(sm) {
      display: none;
    }
  }
}

// @media (prefers-color-scheme: dark) {
//   .right_heading {
//     color: var(--background);
//   }
//   .right_content {
//     color: var(--background);
//   }
//   .blog {
//     filter: brightness(80%);
//   }
// }
