:global(*) {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // font-family: Inter;
    // color: rgb(0, 0, 0);
}

body {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

.datepicker_container {
    // position: relative;
    // position: fixed;
    position: absolute;
    z-index: 996;
    background-color: #E1E1E1;
    padding: 10px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.datepicker button {
    cursor: pointer;
    border: none;
    border-radius: 50px;
    text-transform: uppercase;
    transition: 0.3s;
}

.datepicker {
    position: absolute;
    // position: fixed;
    background-color: black;
    top: 100%;
    margin-top: 2px;
    background-color: rgb(157, 26, 26);
    padding: 10px;
    border-radius: 5px;
    z-index: 997;
    transition: 0.3s;
    opacity: 1;
    // width: auto;
    // height: auto;
}

.datepicker_closed {
    background-color: black;
    opacity: 1;
    pointer-events: none;
    top: 100%;
    left:0;
    transform-origin: top;
    pointer-events: none;
    transition: opacity 0.3s, transform 0.3s;
    position: fixed;
    right: 0;
    top: 100%;
}


.datepicker .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // background-color: black;
    padding-bottom:10px ;
}

.datepicker .month_input {
    
}

.undo_datepicker_overlay {
    background-color: rgba(0, 255, 255, 0.131);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    // z-index: ;
}

.date_input {
    width: 144;
    height: 42;
    opacity: 1;
    border-radius: 15px;
    border-width: 1px;
    display: flex;
    border: 1px solid  #E1E1E1 ;
    text-align: center;

    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 14.56px;
    line-height: 100%;
    letter-spacing: 0%;

    // position: absolute;
    background-color: blue;
}

.date_input_closed {
    pointer-events: none;
    position: relative;
    opacity: 0;
}

.days span {
    text-transform: uppercase;
    text-align: center;
}

.dates button.today {
    background-color: aquamarine;   
}

.today {
    background-color: aquamarine;
}

.days, .dates {
    display: grid;
    grid-template-columns: repeat(7, 32px);
    gap: 10px;
}

.month_input {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
}

.dates button.selected {
    background-color: red;
}

.dates button {
    color: black; 
    background-color: white;
}

.dates button:disabled {
    opacity: 0.5;
    pointer-events: none;
    user-select: none;

}

.dates button:hover {
    background-color: aqua;
}


.datepicker_month {
    // position: absolute;
    position: absolute;
    background-color: black;
    top: 100%;
    margin-top: 2px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 998;
    transition: 0.3s;
    opacity: 1;
    top: 0;
    right: 50;
}

.datepicker_month_closed {
    background-color: black;
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

.datepicker_year {
    position: absolute;
    background-color: black;
    top: 100%;
    margin-top: 2px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 998;
    transition: 0.3s;
    opacity: 1;
    top: 0;
    right: 50;
}

.datepicker_year_closed {
    background-color: black;
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

