@use "./../../styles/_breakpoints" as *;
@use "./../../styles/functions" as *;
@use "./../../styles/variables" as *;
:global(*) {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter;
}


.wrapper {
    position: block;
}

.datepicker_container {
    position: relative;
    z-index: 996;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.datepicker button {
    cursor: pointer;
    border: none;
    border-radius: 50px;
    transition: 0.3s;
}

.datepicker {
    position: absolute;
    top: 100%;
    background-color: $sub-0;
    padding: rem(5px);
    z-index: 997;
    transition: 0.3s;
    opacity: 1;
    width: rem(249px);
    height: fit-content;
    border-radius: rem(15px);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-top: rem(10px);
    box-shadow: rgba(0, 0, 0, 0.16) 0px rem(1px) rem(4px);
}

.datepicker_closed {
    opacity: 1;
    pointer-events: none;
    top: 100%;
    left:0;
    transform-origin: top;
    pointer-events: none;
    transition: opacity 0.3s, transform 0.3s;
    position: fixed;
    right: 0;
    top: 100%;
}

.datepicker .header {
    gap: rem(20px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.change_table {
    display: flex;
    flex-direction: row;
    gap: rem(4px);
    cursor: pointer;
    border-radius: rem(15px);
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;

    :hover {
        border-radius: rem(15px);
        background-color: $sub-200;
    }
}

.change_table div {
    display: flex;
    flex-direction: row;
    gap: rem(4px);
}

.undo_datepicker_overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.placeholder {
    width: rem(160);
    height: rem(42);
    position: static;
    border-radius: rem(15px);
    border-width: rem(1px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: rem(3px);
    // padding: 9px;
    border: rem(1px) solid  $sub-200 ;
    text-align: center;
    
    font-weight: 400;
    font-style: Regular;
    font-size: rem(14.56px);
    opacity: 1;
    background-color: $sub-0;
    @include respond-to-max(lg) {
        font-size: rem(13.5px);
        height: rem(33px);
        border-radius: rem(15px);
    }
    @include respond-to-max(md) {
        font-size: rem(12px);
        height: rem(33px);
        border-radius: rem(15px);
        gap: rem(1px);
    }
    @include respond-to-max(sm) {
        font-size: rem(10.5px);
        width: rem(120px);
        height: rem(35px);
        border-radius: rem(15px);
        gap: rem(1px);
    }
    @include respond-to-max(xs) {
        font-size: rem(9px);
        width: rem(100px);
        height: rem(35px);
        border-radius: rem(15px);
        gap: rem(1px);
    } 
}

.placeholder_img {
    @include respond-to-max(lg) {
        height: 50%;
    }
    @include respond-to-max(md) {
    }
    @include respond-to-max(sm) {
        height: 25%;
    }
    @include respond-to-max(xs) {
        display: none;
        height: 10%;
    }
}


.days span {
    text-align: center;
}

.days, .dates_input {
    display: grid;
    grid-template-columns: repeat(7, rem(25px));
    gap: rem(7px);
    margin-bottom: rem(9px);
}

.datepicker_date {
    opacity: 1;
    padding: rem(10px);
    transition: 0.3s;
}

.datepicker_date_closed {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 100%;
}

.days {
    color: $sub-1000;
}

.dates_input button.selected {
    background-color: $sub-200;  
}

.dates_input button, .month_input button, .year_input button {
    background-color: $sub-0;
    width: rem(21);
    height: rem(21);
    justify-self: center;
    align-self: center;
}

.month_input button, .year_input button {
    width: rem(51);
    height: rem(20);
}

.dates_input button:disabled {
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
}

.dates_input button:hover, .month_input button:hover, .year_input button:hover {
    background-color: $sub-200;
}

.datepicker_month {
    transition:0.3s;
    opacity: 1;
}

.datepicker_month_closed {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    right: 100%;
}

.month_input, .year_input {
    display: grid;
    grid-template-columns: repeat(3, rem(60px));
    grid-template-rows: repeat(4, rem(40px));
    gap: rem(10px);
}

.datepicker_year {
    transition: 0.3s;
    opacity: 1;
}

.datepicker_year_closed {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 100%;
}


.placeholder_closed {
    width: rem(160);
    opacity: 1;
    pointer-events: none;
    position: static;
    height: rem(42);
    border-radius: rem(15px);
    border-width: rem(1px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: rem(3px);
    padding: rem(9px);
    border: rem(1px) solid  $sub-200;
    text-align: center;
    font-weight: 400;
    font-style: Regular;
    font-size: rem(14.56px);
    background-color: $sub-0;
    @include respond-to-max(lg) {
        font-size: rem(13.5px);
        height: rem(33px);
        border-radius: rem(15px);
    }
    @include respond-to-max(md) {
        font-size: rem(12px);
        height: rem(33px);
        gap: rem(1px);
    }
    @include respond-to-max(sm) {
        font-size: rem(10.5px);
        width: rem(120px);
        height: rem(35px);
        gap: rem(1px);
    }
    @include respond-to-max(xs) {
        font-size: rem(9px);
        width: rem(100px);
        height: rem(35px);
        gap: rem(1px);
    }  
}

.prev_button, .next_button {
    background-color: $sub-0;
    position: absolute;
    :active {
        transform: translateY(rem(1px)) ;
    }
} 

.prev_button {
    rotate: 180deg;
    left: rem(20px);
}

.next_button {
    right: rem(20px);
}

.clear {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    position: absolute;
    top: rem(249px);
    left: rem(110px);
    background-color: $sub-0;
    padding: rem(1px);
    border-radius: rem(9px);
    box-shadow: rem(1px) rem(1px) rem(4px) $sub-200;
    cursor: pointer;
}