@use "@/app/styles/variables" as *;
@use "@/app/styles/functions" as *;

.info {
  width: clamp(17rem, 90%, 32rem);
  margin-inline: auto;
  // margin-top: 10rem;
  background-color: var(--box-background);
  position: relative;
  z-index: 10;
  border-radius: rem(22);
  padding: 1rem 1.5rem;
  span {
    display: flex;
    gap: 0.4rem;
  }
  h2 {
    margin-bottom: 0.4rem;
  }
  .line {
    margin: 1rem;
  }
}

.header {
  display: flex;
  gap: 0.8rem;
  justify-content: space-between;
}
.tool {
  background-color: var(--Obj-fade);
  padding: 0.8rem 1rem;
  border-radius: 0.4rem;
}
.action {
  margin: 1rem 0;
  width: fit-content;
  margin-left: auto;
  .action_button {
    color: $sub-0;
    background-color: $sub-1000;
    padding: 0.2rem 1rem;
    border-radius: rem(22);
  }
}
