/*scss doesn't support select page ( == ') */
.pagination-wrapper {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    padding: 20px;
}

.pagination-wrapper .mantine-Pagination-control {
    border: 2px solid white;
    border-radius: 50%;
    font-size: 18px;
    font-weight: 400;
    min-width: 42px;
    height: 42px;
}

.pagination-wrapper .mantine-Pagination-control:hover {
    background-color: #f5f5f5;
}

.pagination-wrapper .mantine-Pagination-control[data-active="true"] {
    background-color: black;
    color: white;
    font-weight: 700;
}

.pagination-wrapper .mantine-Pagination-dots {
    align-self: flex-end;
}