@use "./../../styles/_breakpoints" as *;
@use "./../../styles/functions" as *;
@use "./../../styles/variables" as *;
:global(*) {
  font-family: inherit;
}

.tooltip {
  position: relative;
  display: inline-block;
  padding: rem(5px);
  cursor: pointer;
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  line-height: 100%;
  letter-spacing: 0%;
  font-size: rem(18.39px);
  @include respond-to-max(lg) {
    font-size: rem(17px);
  }
  @include respond-to-max(md) {
    font-size: rem(15px);
  }
  @include respond-to-max(sm) {
    font-size: rem(12px);
  }
  @include respond-to-max(xs) {
    font-size: rem(9.19px);
  }
}

.tooltip_text {
  background-color: $sub-1000;
  z-index: 1;
  position: fixed;
  top: 0;
  background: $sub-1000;
  color: $sub-0;
  white-space: nowrap;
  padding: rem(10px) rem(15px);
  border-radius: rem(7px);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
  font-size: rem(18.39px);
  @include respond-to-max(lg) {
    font-size: rem(17px);
    padding: rem(10px) rem(15px);
    border-radius: rem(7px);
  }
  @include respond-to-max(md) {
    font-size: rem(15px);
  }
  @include respond-to-max(sm) {
    font-size: rem(12px);
  }
  @include respond-to-max(xs) {
    font-size: rem(9.19px);
    padding: rem(5px) rem(7.5px);
    border-radius: rem(3.5px);
  }
}


.tooltip:hover .tooltip_text {
  position: absolute;
  visibility: visible;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  transform: translateY(-100%);
}
