.category {
  margin: 20px 0;
}

.category_image_container {
  max-width: 450px;
  height: 220px;
  overflow: hidden;
  margin: 10px 0;
}

.category_image {
  width: 100%;
  height: auto;
}
//text warper
.article {
  margin: 20px 0;
}
.title {
  margin: 10px 0;
}

.category_title {
  font-size: 1.4rem;
}

.blog {
  display: grid;
  gap: 10px;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
}
