@use "../../styles/variables" as *;
@use "../../styles/functions" as *;

.select {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  .require {
    color: var(--warning-red);
  }
}

.input {
  width: 100%;
  position: relative;
  display: flex;
  gap: 1rem;
  border-radius: 0.4rem;
  border: 1px solid var(--theme-200);
  align-items: center;
  transition: all 0.2s ease;
  cursor: pointer;

  &.md {
    padding: 0.6rem 1rem;
  }

  &.sm {
    padding: 0.3rem 1rem;
  }

  &:hover {
    background-color: var(--theme-100);
  }
  .input_value {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex: 1;
    text-wrap: nowrap;
    .leftIcon {
      color: var(--text-fade-high);
    }
  }
  .arrow {
    color: var(--text-fade-high);
    transition: transform 0.2s ease;

    &.arrow_open {
      transform: rotate(180deg);
    }
  }

  .input_choiceContainer {
    max-height: 12rem;
    overflow-y: auto;
    position: absolute;
    top: 2.4rem;
    left: 0;
    padding: 0.4rem 0;
    background-color: var(--theme-0);
    box-shadow: var(--theme-100) 0px 0px 0px 1px;
    border-radius: 0.4rem;
    .input_choice {
      margin: 0.2rem 0;
      background-color: var(--theme-0);
      text-align: start;
      text-wrap: nowrap;
      width: 100%;
      padding: 0.2rem 4rem 0.2rem 1rem;
      &:hover {
        background-color: var(--theme-100);
      }
    }
  }
  .input_onTop {
    top: unset;
    bottom: 2.4rem;
  }
}

.input_focus {
  outline: 2px solid var(--theme-500);
}

.input_open {
  position: relative;
  z-index: 100;
}

.errorMessage {
  color: var(--error-red);
}

.input_error {
  border: rem(2px) solid var(--error-red);
}
