@use "../../styles/variables" as *;

.modalContainer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
}

.background {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.1);
}

.children {
  z-index: 100;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--theme-0);
  width: 100%;
  padding: 1rem;
  border-radius: 1rem 1rem 0 0;
}
