.searchbar {
  position: relative;
  .input {
    font-size: 0.8rem;
    padding: 0.8rem 1rem;
    border: 0.1rem solid var(--theme-200);
    border-radius: 1.2rem;
  }

  .placeholder {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    display: none;
    pointer-events: none;
  }

  .input:has(br) + .placeholder,
  .input:empty + .placeholder {
    display: block;
  }
}
