/* start: Global */
@use "./../../styles/_breakpoints" as *;
@use "./../../styles/functions" as *;
@use "./../../styles/variables" as *;
:global(*) {
    ::before,
    ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
}


.avatar_group {
    display: flex;
    position: static;
}

.avatar {
    position: relative;
    transition: .2s;
}

.avatar:not(:first-child) {
    margin-left: rem(-9px);
    @include respond-to-max(lg) {
        margin-left: rem(-8px);
    }
    @include respond-to-max(md) {
        margin-left: rem(-6px);
    }
    @include respond-to-max(sm) {
        margin-left: rem(-5px);
    }
    @include respond-to-max(xs) {
        margin-left: rem(-4.8px);
    } 
}

.avatar:hover {
    z-index: 1;
    transform: translateY(-.25rem);
}


.avatar_title {
    position: absolute;
    // left: 50%;
    bottom: calc(100% + .5rem);
    padding: .5rem .75rem;
    border-radius: .25rem;
    background-color: $sub-1000;
    color: $sub-0;
    font-size: .875rem;
    white-space:nowrap;
    opacity: 0;
    visibility: hidden;
    transition: .2s;
}

.avatar:hover .avatar_title {
    opacity: 1;
    visibility: visible;
}

.avatar_image {
    width: rem(31.12px);
    height: rem(31.12px);
    display: block;
    object-fit: cover;
    border-radius: 50%;
    @include respond-to-max(lg) {
        width: rem(28px);
        height: rem(28px);
    }
    @include respond-to-max(md) {
        width: rem(24px);
        height: rem(24px);
    }
    @include respond-to-max(sm) {
        width: rem(20px);
        height: rem(20px);
    }
    @include respond-to-max(xs) {
        width: rem(16.6px);
        height: rem(16.6px);
    } 
}

.avatar_rest {
    width: rem(31.12px);
    height: rem(31.12px);
    border-radius: 50%;
    background-color: $sub-400;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $sub-0;
    font-size: rem(17.47px);
    pointer-events: none;
    @include respond-to-max(lg) {
        width: rem(28px);
        height: rem(28px);
        font-size: rem(15px);
    }
    @include respond-to-max(md) {
        width: rem(24px);
        height: rem(24px);
        font-size: rem(13px);
    }
    @include respond-to-max(sm) {
        width: rem(20px);
        height: rem(20px);
        font-size: rem(11px);
    }
    @include respond-to-max(xs) {
        width: rem(16.6px);
        height: rem(16.6px);
        font-size: rem(7.38px);
    } 
}