@use "@/app/styles/breakpoints" as *;

.layout {
  display: flex;
  height: 100vh;

  @include respond-to-max(md) {
    display: inline;
    height: auto;
  }
}
.children {
  overflow: auto;
  width: 100%;
  padding: min(4%, 2rem);
}
