@use "../../styles/variables" as *;

.searchBar {
  display: flex;
  gap: 0.4rem;
  box-sizing: border-box;
  background-color: var(--theme-100);
  border-radius: 0.2rem;
  transition: border-color 0.3s ease, background-color 0.3s ease;
  border: 0.125rem solid transparent;

  &.md {
    padding: 0.6rem 0.4rem;
  }

  &.sm {
    padding: 0.3rem 0.4rem;
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--theme-300);
  }

  &.canFocus {
    &:focus-within {
      border-color: $sub-1000;
    }
  }
}

.input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--foreground);
}
