.container{
  margin: 100px 0;
  h3{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 40px;
  }
  .box{
    display: grid;
    grid-template-columns: repeat(
    auto-fit, minmax(400px, 1fr)
    );
    .blog_image{
      width: 440px;
      height: 530px;
      object-fit: cover;
      border-radius: 7.35px;
    }
  }
}