@use "./../../styles/_breakpoints" as *;
@use "./../../styles/functions" as *;
@use "./../../styles/variables" as *;
.container {
    display: grid;
    grid-template-columns: 85% 15%;
    min-height: rem(103);
    background-color: $sub-0;
    border-radius: rem(10px);
    padding: rem(12px);
    padding-left: 0px;
    
    @include respond-to-max(md) {
        grid-template-columns: 70% 30%;
        height: rem(36px);
        padding: rem(9px);
    }
    @include respond-to-max(sm) {
        min-height: rem(50px);
        padding: rem(6px);
    } 
}
.detail {
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: row;
}

.timestamp {
    display: flex;
}

.timestamp_left {
    display: flex;
    flex-direction: column;
    width: rem(59px);
    justify-content: center;
    align-items: start;
    border-right: rem(0.65px) solid $sub-300;
    @include respond-to-max(lg) {
        width: rem(53px);
    }
    @include respond-to-max(md) {
        width: rem(47px);
    }
    @include respond-to-max(sm) {
        width: rem(41px);
    }
    @include respond-to-max(xs) {
        width: rem(35px);
    } 
}


.day {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: rem(19.34px);
    line-height: 100%;
    letter-spacing: 0%;   
    @include respond-to-max(lg) {
        font-size: rem(17.5px);
    }
    @include respond-to-max(md) {
        font-size: rem(15px);
    }
    @include respond-to-max(sm) {
        font-size: rem(12.5px);
    }
    @include respond-to-max(xs) {
        font-size: rem(10px);
    }  
}

.date {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: rem(34.82px);
    line-height: 100%;
    letter-spacing: 0%;
    align-self:baseline; 
    @include respond-to-max(lg) {
        font-size: rem(31px);      
    }
    @include respond-to-max(md) {
        font-size: rem(27px);       
    }
    @include respond-to-max(sm) {
        font-size: rem(22px);       
    }
    @include respond-to-max(xs) {
        font-size: rem(18.02px);
    } 
}

.timestamp_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: rem(17px);
    pointer-events: auto;
    transition: opacity 0.2s ease-in-out;
    opacity: 1;
    @include respond-to-max(md) {
        visibility: hidden;
        position: absolute;
        right: rem(15px);
        opacity: 0;
        pointer-events: none;
    }
}

.timestamp_right span {
    margin-left: rem(11px);
    @media (max-width:480px) {
        font-size: rem(10px);
    }  
}

.thumnail {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: rem(7px);
    font-size: rem(19.15px);
    @include respond-to-max(lg) {
        padding: 0;
        padding-left: rem(7px);    
    }
    @include respond-to-max(md) {
        padding: 0;
        padding-left: rem(7px);     
    }
    @include respond-to-max(sm) {
        padding: 0;
        padding-left: rem(7px);
    }
    @include respond-to-max(xs) {
        font-size: rem(10.22px);
        padding: 0;
        padding-left: rem(7px);
    } 
    
}

.status {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    width: fit-content;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    padding-right: rem(67px);
    @include respond-to-max(md) {
        margin-right: rem(7px);   
    }
    
}

.timestamp_right_toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    visibility: none;

    @include respond-to-max(md) {
        opacity: 1;
        position: static;
    }
}

.timestamp_right_toggle_image {
    cursor: pointer;
    pointer-events: all;
    @include respond-to-max(md) {
        margin-left: rem(10px);
        width: rem(23px);
        height: rem(23px);
    }
    @include respond-to-max(sm) {
        margin-left: rem(7px);
        width: rem(13px);
        height: rem(13px);
    }
}

.timestamp_right_hidden {
    position: fixed;
    right: 5%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    background-color: $sub-1000;
    color: $sub-0;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: rem(10.22px);
    line-height: 100%;
    letter-spacing: 0%;
    padding: rem(9px);
    border-radius: rem(5px);
   
}

.timestamp_right_hidden_active {
    position: fixed;
    right: 5%;
    display: flex;
    flex-direction: column;
    background-color: $sub-1000;
    color: $sub-0;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: rem(10.22px);
    line-height: 100%;
    letter-spacing: 0%;
    padding: rem(9px);
    border-radius: rem(5px);
    z-index: 999;
}

.unfocus_overlay {
    z-index: 998;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
}