@use "./../../styles/_breakpoints" as *;
@use "./../../styles/functions" as *;
@use "./../../styles/variables" as *;

.cart_view {
    display: grid;
    grid-template-columns: auto rem(418px);
    font-family: Inter;
    overflow: auto;
    @include respond-to-max(md) {
        grid-template-columns: 1fr;
    }
}

.cart_view_left {
    grid-column-start: 1;
    grid-column-end: 2;
    flex-direction: column;
    @include respond-to-max(md) {
        grid-row-start: 1;
        grid-row-end: 2;
        padding-bottom: rem(404px);
    }
    @include respond-to-max(sm) {
        padding-bottom: rem(369px);
    }
    @include respond-to-max(xs) {
        padding-bottom: rem(319px);
    }
}

.cart_view::-webkit-scrollbar {
  width: 0;
  display: none;
}

.cart_view_left_header {
    font-weight: 500;
    font-style: Medium;
    line-height: 100%;
    margin: rem(40px) 0px;
    font-size: rem(55.4px);
    transition: 0.3s;
    @include respond-to-max(lg) {
        font-size: rem(44.32px);
        margin: rem(35px) 0px;
    }
    @include respond-to-max(md) {
        font-size: rem(35.46px);
        margin: rem(30px) 0px;
    }
    @include respond-to-max(sm) {
        font-size: rem(28.37px);
        margin: rem(25px) 0px;
    }
    @include respond-to-max(xs) {
        font-size: rem(20.13px);
        margin: rem(20px) 0px;
    }
}

.item_card {
    display: grid;
    grid-template-columns: rem(201px) auto;
    grid-template-rows: rem(138px) rem(39px);
    overflow: hidden;
    margin-bottom: rem(32px);
    @include respond-to-max(lg) {
        grid-template-columns: rem(170px) auto;
    }
    @media (max-width: 830px) {
        grid-template-columns: rem(135px) auto;
    }
    @include respond-to-max(md) {
        grid-template-columns: rem(135px) auto;
        grid-template-rows: rem(100px) auto
    }
    @include respond-to-max(xs) {
        grid-template-columns: rem(135px) auto;
        grid-template-rows: rem(100px) auto
    }
}

.item_card_img {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;

    align-self: center;
    object-fit: contain;
    transition: all 0.4s ease;
    height: rem(150px);
    width: rem(200px);
    @include respond-to-max(lg) {
        height: rem(137.5px);
        width: rem(180px);
    }
     @media (max-width: 830px) {
        width: rem(150px);
        height: rem(120px);
    }
    @include respond-to-max(md) {
        height: rem(125px);
        width: rem(160px);
    }
    @include respond-to-max(sm) {
        height: rem(112.5px);
        width: rem(140px);
    }
    @include respond-to-max(xs) {
        width: rem(120px);
        height: rem(100px);
    }
}

.item_card_details {
    margin-left: rem(22px);
    grid-column-start: 2;
    grid-row-start:1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
}

.item_card_details_title {
    font-weight: 500;
    font-style: Medium;
    line-height: 100%;
    letter-spacing: 0%;
    padding-top: rem(22px);
    margin-bottom: rem(12px);
    color: $sub-1000;
    font-size: rem(21.62px);
    @include respond-to-max(lg) {
        font-size: rem(19.02px);
    }
    @include respond-to-max(md) {
        font-size: rem(16.42px);
    }
    @include respond-to-max(sm) {
        font-size: rem(13.82px);
    }
    @include respond-to-max(xs) {
        font-size: rem(11.42px);
    }
}

.item_card_details_description {
    font-weight: 400;
    font-style: Regular;
    line-height: 100%;
    letter-spacing: 0%;
    color: $sub-600;
    font-size: rem(18.43px);
    @include respond-to-max(lg) {
    font-size: rem(16.33px);
    }
    @include respond-to-max(md) {
        font-size: rem(14.23px);
    }
    @include respond-to-max(sm) {
        font-size: rem(11.98px);
    }
    @include respond-to-max(xs) {
        font-size: rem(9.73px);
    }
}

.item_card_buttons_group {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:2 ;
    margin-left: rem(22px);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item_card_buttons_group_left {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-weight: 500;
    font-style: Medium;
    width: rem(138px);
    height: rem(39px);
    font-size: rem(15.72px);
    border: $sub-1000 0.8px solid;
    border-radius: 30px;
    transition: all 0.4s ease;
    cursor: pointer;
    @include respond-to-max(lg) {
        width: rem(122.25px);
        height: rem(34.53px);
        font-size: rem(13.93px);
        border: $sub-1000 0.8px solid;
        border-radius: 30px;
    }
    @include respond-to-max(md) {
        width: rem(106.5px);
        height: rem(30.06px);
        font-size: rem(12.14px);
        border: $sub-1000 0.8px solid;
        border-radius: 30px;
    }
    @include respond-to-max(sm) {
        width: rem(89.69px);
        height: rem(25.33px);
        font-size: rem(10.23px);
        border: $sub-1000 0.8px solid;
        border-radius: 30px;
    }
    @include respond-to-max(xs) {
        width: rem(72.87px);
        height: rem(20.59px);
        font-size: rem(8.72px);
        border: $sub-1000 0.8px solid;
        border-radius: 30px;
    }
}

.item_card_buttons_group_left:hover {
        box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);

}

.item_card_buttons_group_left div, .item_card_buttons_group_left p  {
    flex-grow: 1;
    text-align: center;
    align-content: center;
    height: 100%;
    border-radius: 100%;
}

.item_card_buttons_group_left div:hover {
     transform: translateY(-1px);
}

.item_card_buttons_group_left div:active {
    transform: translateY(1px);
}   

.item_card_buttons_group_remove {
    margin-left: rem(22px);
    display: flex;
    justify-content: center;
    transition: all 0.4s ease;
    @include respond-to-max(lg) {
    margin-left: rem(22px);
    width: rem(25.39px);
    height: rem(25.66px);
    }
    @include respond-to-max(md) {
        margin-left: rem(22px);
        width: rem(21.87px);
        height: rem(22.10px);
    }
    @include respond-to-max(sm) {
        margin-left: rem(22px);
        width: rem(18.57px);
        height: rem(18.77px);
    }
    @include respond-to-max(xs) {
        margin-left: rem(22px);
        width: rem(15.26px);
        height: rem(15.43px);
    }
    cursor: pointer;
    
}

.item_card_buttons_group_remove:hover {
    transform: translateY(-2px);
    box-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
}

.item_card_buttons_group_remove:active {
    transform: translateY(-1px);
}

// right side
.summary_cart {
    position:fixed;
    top: rem(141.4px);
    right: rem(42px);    
    height: fit-content;
    display: flex;
    flex-direction: column;
    transition: all 0.4s ease;
    min-width:rem(181px);
    width: rem(418px);
    background-color: $sub-0;
    @include respond-to-max(lg) {
        width: rem(368px);
    }
    @media (max-width: 850px) {
        width: rem(318px);
    }
    
    @include respond-to-max(md) {
        bottom: 0;
        top: auto;
        left: 0;
        width: 100%;
        padding: rem(70px);
        border-top: 2px $sub-1000  solid;
    }
    @include respond-to-max(sm) {
        padding: rem(52.5px);
        border-top: 2px $sub-1000 solid;
    }
    @include respond-to-max(xs) {
        padding-top: rem(35px);
        padding-bottom: rem(35px);
    }
}

.summary_cart_table {
    font-family: Inter;
    margin-bottom: rem(42px);
    
    @include respond-to-max(lg) {
    margin-bottom: rem(34px);
    }
    @include respond-to-max(md) {
        margin-bottom: rem(26px);
    }
    @include respond-to-max(sm) {
        margin-bottom: rem(18px);
    }
    @include respond-to-max(xs) {
        margin-bottom: rem(10px);
    }
}

.summary_cart_table_header {   
    font-weight: 500;
    font-style: Medium;
    line-height: 100%;
    letter-spacing: 0%;
    font-size: rem(20.72px);
    @include respond-to-max(lg) {
        font-size: rem(18.14px);
    }
    @media (max-width: 830px) {
        font-size: rem(14.82px);
    }
    @include respond-to-max(md) {
        margin-bottom: rem(20px);
        font-size: rem(15.56px);
    }
    @include respond-to-max(sm) {
        font-size: rem(13.49px);
    }
    @include respond-to-max(xs) {
        font-size: rem(11.42px);
    }
    
}

.summary__cart_table_header_boarder_line {
    width: rem(388px);
    height: rem(1px);
    color: $sub-1000;
    margin-top: rem(22px);
    margin-bottom: rem(12px);
    opacity: 85%;
    @include respond-to-max(lg) {
        width: rem(335px);
    }
    @media (max-width: 850px) {
        width: rem(287px);
    }
    @include respond-to-max(md) {
        display: none;
    }
}

.summary_cart_table_body {
    overflow: auto;
    height: rem(104px);
    padding-right: rem(32px);
    @include respond-to-max(lg) {
        padding-right: rem(28.25px);
    }
    @include respond-to-max(md) {
        padding-right: rem(24.5px);
    }
    @include respond-to-max(sm) {
        padding-right: rem(20.75px);
    }
    @include respond-to-max(xs) {
        height: rem(103px); 
        padding-right: rem(17px);
    }
}

.summary_cart_table_item {
    display: flex;
    justify-content: space-between;

    font-weight: 400;
    font-style: Regular;
    line-height: 100%;
    letter-spacing: 0%;
    color: $sub-600;    
    font-size: rem(17.57px);
    margin-bottom: rem(22px);
    @include respond-to-max(lg) {
    font-size: rem(16.36px);
    }
    @include respond-to-max(md) {
        font-size: rem(15.15px);
    }
    @include respond-to-max(sm) {
        font-size: rem(13.89px);
    }
    @include respond-to-max(xs) {
        font-size: rem(12.63px);
    }
}

.summary_cart_bottons_group {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.summary_cart_reserve_button {
    height: rem(57);
    opacity: 1;
    gap: rem(10px);
    border-radius: 30px;
    background-color: $sub-1000;
    color: $sub-0;
    margin-bottom: rem(10px);

    font-size: rem(17.57px);
    @include respond-to-max(lg) {
        font-size: rem(16.36px);
    }
    @include respond-to-max(md) {
        font-size: rem(15.15px);
    }
    @include respond-to-max(sm) {
        font-size: rem(13.89px);
    }
    @include respond-to-max(xs) {
        font-size: rem(12.63px);
    }
}

// .summary_cart_reserve_button:hover {
//     box-shadow: 0.25rem 0.25rem 0.25rem rgba($color: #000000, $alpha: .25);
//     transform: translateY(-1px);
// }

.summary_cart_reserve_button:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px rem(30px) rem(60px) rem(-12px) inset, rgba(0, 0, 0, 0.3) 0px rem(18px) rem(36px) rem(-18px) inset;
}

.summary_cart_reserve_button_about {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: rem(16.07px);
    line-height: 100%;
    letter-spacing: 0%;
    color: $sub-600;

    @include respond-to-max(lg) {
    font-size: rem(15.19px);
    }
    @include respond-to-max(md) {
        font-size: rem(14.31px);
    }
    @include respond-to-max(sm) {
        font-size: rem(13.04px);
    }
    @include respond-to-max(xs) {
        font-size: rem(11.76px);
    }
}

/* width */
.summary_cart_table_body::-webkit-scrollbar {
  width: rem(5px);
}

/* Track */
.summary_cart_table_body::-webkit-scrollbar-track {
  background: $sub-0;
  margin-top: rem(5px);
  margin-bottom: rem(5px);
  min-height: rem(5px);
  max-height: rem(5px);
}

/* Handle */
.summary_cart_table_body::-webkit-scrollbar-thumb {
  background: $sub-500;
  border-radius: rem(15px);

}

/* Handle on hover */
// .summary_cart_table_body::-webkit-scrollbar-thumb:hover {
// //   background:;
// }

.fackball {
    // background-color: #912424;
    color: $sub-1000;
    height: 80vh;
    font-size: rem(17.57px);
    align-content: center;
    text-align: center;
    @include respond-to-max(lg) {
        font-size: rem(16.36px);
    }
    @include respond-to-max(md) {
        font-size: rem(15.15px);
    }
    @include respond-to-max(sm) {
        font-size: rem(13.89px);
    }
    @include respond-to-max(xs) {
        font-size: rem(12.63px);
    }
}

.onLoad {
    align-content: center;
    text-align: center;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    color: $sub-0;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.719), rgba(128, 128, 128, 0.683));
    // pointer-events: none;
}
