@use "./../../styles/_breakpoints" as *;
@use "../../styles/variables" as *;

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px min(4rem, 5%);
}
.navbar_inner {
  display: flex;
  gap: 80px;
  align-items: end;
}

.logo {
  font-size: 1.3rem;
  display: flex;

  .logo_mark {
    color: black;
  }
  p {
    font-weight: bold;
    color: gray;
  }
}

.link {
  display: flex;
  font-size: 0.9rem;
  gap: 15px;

  @include respond-to-max(md) {
    display: none;
  }
}

.action {
  display: flex;
  align-items: center;
  gap: 20px;
  .action_search {
    width: 22px;
    height: auto;
  }
  .action_basket {
    width: 27px;
    height: auto;
  }
  .action_hamberger {
    display: none;
    width: 27px;
    height: auto;
    padding: 2px;
    border-radius: 4px;
    height: fit-content;
    background-color: black;
    @include respond-to-max(md) {
      display: block;
    }
  }
}

.cart_icon {
  display: flex;
  align-items: center;
}

.action_button {
  font-size: 0.9rem;
  color: white;
  background-color: black;
  padding: 10px 20px;
  border-radius: 24px;

  @include respond-to-max(md) {
    display: none;
  }
}
