@use "../../styles/variables" as *;
@use "../../styles/breakpoints" as *;

.guide {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
  @include respond-to(md) {
    flex-direction: row;
    padding: 30px 0;
  }
}

.text_title {
  font-weight: 500;
  font-size: 2.2rem;
  padding: 30px 0 20px 0;
}

.text_description {
  font-weight: 300;
  font-size: 1.2rem;
  color: var(--text-fade-mid);
}

.guide_action {
  display: flex;
  overflow-x: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  @include respond-to(md) {
    overflow: visible;
  }
}

.blog {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  padding-right: 15px;
  @include respond-to(lg) {
    flex-direction: column;
    border-left: 2px solid $sub-300;
    padding-left: 15px;
    padding-right: 35px;
  }
}

.blog_content {
  display: flex;
  gap: 20px;
  padding-top: 30px;

  @include respond-to(md) {
    display: flex;
    justify-content: start;
  }
}
.blog_index {
  font-size: 3rem;
}
.blog_title {
  width: fit-content;
  height: 100px;
}

.blog_description {
  height: 150px;
  padding: 15px 0;
  color: $sub-300;
  font-weight: 300;
}

.blog_warper {
  height: 180px;
  width: 250px;
  overflow: hidden;
}

.blog_image {
  width: 300px;
  height: auto;
}
