@use "../../styles/variables" as *;
.guide {
  display: flex;
  gap: 50px;
  padding: 60px 0;
}

.text_title {
  font-weight: 400;
  padding: 30px 0 10px 0;
}

.text_description {
  font-weight: 300;
  font-size: 1.2rem;
  color: $Gray300;
}

.guide_action {
  display: flex;
  gap: 40px;
  flex-grow: 4;
}

.blog {
  padding: 0 25px;
  border-left: 2px solid $Gray300;
}

.blog_content {
  padding: 0 15px;
}
.blog_index {
  font-size: 3rem;
  padding: 20px 0;
}
.blog_title {
  height: 100px;
  padding: 15px 0;
}

.blog_description {
  height: 150px;
  padding: 15px 0;
  color: $Gray300;
  font-weight: 300;
}

.blog_warper {
  height: 180px;
  width: 250px;
  overflow: hidden;
}

.blog_image {
  width: 300px;
  height: auto;
}
