@use "../../styles/variables" as *;

.textInput {
  display: flex;
  flex-direction: column;
  width: 100%;

  .textInput_input {
    padding: 8px 12px;
    border: 1px solid $sub-200;
    border-radius: 0.4rem;
  }

  .error_input {
    border: 1px solid $red-600;
    &::placeholder {
      color: $red-600;
    }
  }

  .textInput_label {
    padding: 8px 0;
  }

  .textInput_require {
    color: $red-600;
  }
}

.error_message {
  color: $red-600;
  margin-top: 0.4rem;
  margin-left: 0.4rem;
}
